@media screen and (max-width: 700px) {
    .header {
        padding: 20px;
        text-align: center;
    }
    .header h2 {
        padding-bottom: 25px;
    }
    header .second-h2 {
        font-size: 15px;
        width: 60%;
        margin: 0 auto;
        /* border: 2px solid black; */
    }
    .header .first-button {
        width: 80%;

    }


}
@media screen and (max-width: 850px) {
    html section {
        flex-wrap: wrap;
        padding: 40px 10px;


    }
    section .first-div {
        width: 55%;
        /* border: 3px solid blue; */
        border-right: transparent;
        margin: 0% auto;
        border: 3px solid blue;
        /* padding-left: 13%; */
        


        /* justify-content: center;/ */
        /* padding-left: 25%; */

    }
    .section .b, .c, .d {
        margin: 0 auto;
        padding-top: 20px;
    }
    section .a {
       margin: 0 auto;
    }
}
